<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Ur-Sltn Webgains
 *
 * NOTICE OF LICENSE
 *
 * Private Proprietary Software (https://ur-sltn.com/terms-of-service.php)
 *
 * @category   UrSltn
 * @package    UrSltn_Webgains
 * @copyright  Copyright (c) 2016 Ur-Sltn LTD (https://ur-sltn.com)
 * @license    https://ur-sltn.com/terms-of-service.php  Private Proprietary Software
 * @author     Shaughn Le Grange - Hatlen <me@shaughn.pro>
 */
-->
<config>
    <modules>
        <UrSltn_Webgains>
            <version>1.0.0</version>
        </UrSltn_Webgains>
    </modules>
    <global>
        <helpers>
            <ursltn_webgains>
                <class>UrSltn_Webgains_Helper</class>
            </ursltn_webgains>
        </helpers>
        <blocks>
            <ursltn_webgains>
                <class>UrSltn_Webgains_Block</class>
            </ursltn_webgains>
        </blocks>
        <models>
            <ursltn_webgains>
                <class>UrSltn_Webgains_Model</class>
            </ursltn_webgains>
        </models>
        <resources>
            <ursltn_webgains_setup>
                <setup>
                    <module>UrSltn_Webgains</module>
                </setup>
            </ursltn_webgains_setup>
        </resources>
    </global>
    <crontab>
        <jobs>
            <process_ursltn_webgains_export_products>
                <schedule>
                    <cron_expr>0 */5 * * *</cron_expr>
                </schedule>
                <run>
                    <model>ursltn_webgains/observer::exportProducts</model>
                </run>
            </process_ursltn_webgains_export_products>
        </jobs>
    </crontab>
    <default>
        <ursltn_webgains>
            <general_settings>
                <active>1</active>
                <debug>1</debug>
            </general_settings>
            <product_export>
                <active>1</active>
                <format>csv</format>
                <cron_frequency>D</cron_frequency>
            </product_export>
        </ursltn_webgains>
    </default>
</config>